.vscode
*.swp
/database/initdata
/datapipeline/config
/datapipeline/logs
/datapipeline/data
/datapipeline/dags/initdata
/datapipeline/plugins
/datapipeline/venv_city_street_data
/datapipeline/dags/__pycache__
scratch.sql
project
# Environment variables
.env

# backend
/backend/tmp/*
/backend/tmp

# Logs
/frontend/logs
/frontend/*.log
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/pnpm-debug.log*
/frontend/lerna-debug.log*

/frontend/node_modules
/frontend/dist
/frontend/dist-ssr
/frontend/*.local

# Editor directories and files
/frontend/.vscode/*
/frontend/!.vscode/extensions.json
/frontend/.idea
/frontend/.DS_Store
/frontend/*.suo
/frontend/*.ntvs*
/frontend/*.njsproj
/frontend/*.sln
/frontend/*.sw?
