services:
  city_street_data:
    depends_on:
      - city_street_data_db
    build:
      context: .
    container_name: city_street_data
    hostname: city_street_data
    networks:
      - mynet
    ports:
      - 80:8080
    environment:
      - PGUSER=${POSTGRES_USER}
      - PGPASSWORD=${POSTGRES_PASSWORD}
      - PGHOST=${PGHOST:-db}
      - PGPORT=${PGPORT:-5432}
      - PGDATABASE=${POSTGRES_DB}
    deploy:
      restart_policy:
        condition: on-failure
  city_street_data_db:
    # image: postgis/postgis:17-3.5
    image: city_street_data_db
    container_name: city_street_data_db
    hostname: db
    networks:
      - mynet
    ports:
      - 5432:5432
      - 8080:8080
    volumes:
      - city_street_data_db:/var/lib/pgsql/data
    environment:
      - POSTGRES_USER=${POSTGRES_USER} 
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}

volumes:
  city_street_data_db:

networks:
  mynet:
    driver: bridge
